<div class="hero">
  <div class="row contentInicio">
      <div class="col s12 l6 ">
          <div class="row logo1">
            <img src="../../../assets/img/logos/logo256.png" alt="">
          </div>
          <div class="homeLegend ltxt">
              <h1>EXCLUSIVO PARA TI</h1>
              <h5>En NEED podrás encontrar todo servicio de catering para tus eventos sociales. </h5>
          </div>
      </div>
      <div class="col s12 l6">
        <div class="row heroform" >
          <app-heroform></app-heroform>
        </div>
        
      </div>
    </div>
  </div>