.negImg {
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 42vw;
}

.negImg img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    max-width: 200%;
    background-color: #fff;
}

.negName {
    font-weight: 900;
    text-align: center;
    margin-bottom: .5em;
    height: 3em;
}

@media screen and (min-width: 500px) {
    #negocios {
        position: relative;
        top: 5em;
    }
    .negocio {
        width: 21% !important;
        margin: 1em !important;
    }
    .negImg {
        height: 13vw;
    }
}