<div class="black row navbar valign-wrapper">
    <div class="col s12">
        <ul>
            <li class="navitem" *ngIf="homeIcon" id="homeIcon" [routerLink]="['/']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-home"></i></p>
                <p class="itemLink">INICIO</p>
            </li>
            <li class="navitem" *ngIf="newIcon" id="newIcon" [routerLink]="['/usuario/nuevo-evento']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-calendar-plus"></i></p>
                <p class="itemLink">NUEVO EVENTO</p>
            </li>
            <li class="navitem" *ngIf="logIcon" id="logIcon" [routerLink]="['/login']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-sign-in-alt"></i></p>
                <p class="itemLink">INGRESAR</p>
            </li>
            <li class="navitem" *ngIf="calIcon" id="calIcon" [routerLink]="['/usuario/tus-eventos']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-calendar-day"></i></p>
                <p class="itemLink">TUS EVENTOS</p>
            </li>
            <li class="navitem" *ngIf="userIcon" id="userIcon" [routerLink]="['/usuario/perfil']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-user"></i></p>
                <p class="itemLink">MI CUENTA</p>
            </li>
            <li class="navitem" *ngIf="dirIcon" id="dirIcon" [routerLink]="['/directorio/categorias']" routerLinkActive="navActive">
                <p class="itemIcon"><i class="fas fa-address-book"></i></p>
                <p class="itemLink">DIRECTORIO</p>
            </li>
            <li class="navitem" *ngIf="menuIcon" id="menuIcon" (click)="menu = !menu" (click)="toggleMenu()">
                <p class="itemIcon"><i class="fas fa-bars"></i></p>
                <p class="itemLink">MENÚ</p>
            </li>
        </ul>
    </div>
</div>
<div id="menu">
    <div id="close" style="display: none" (click)="menu = !menu" (click)="toggleMenu()">
        <i class="fas fa-times"></i>
    </div>
    <app-main-menu *ngIf="menu" (cerrarMenu)="cerrarMenu($event)"></app-main-menu>
</div>