<div class="black row navbar valign-wrapper">
    <div class="col s12">
        <ul>
            <li class="navitem">
                <home></home>
            </li>
            <li class="navitem">
                <reg></reg>
            </li>
            <!-- <li class="navitem">
        <user></user>
      </li> -->
            <li class="navitem">
                <directory></directory>
            </li>
            <li class="navitem">
                <app-menu></app-menu>
            </li>
        </ul>
    </div>
</div>