<div class="contenido container">
    <div class="row megaIcono">
        <div class="col 12">
            <img src="../../../../assets/img/icons/Right.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <p class="titleLabel ltxt center">
                ¡EXCELENTE!
            </p>
            <p class="center ltxt">
                Ya has creado <strong>TU EVENTO:</strong>
            </p><br>
            <ul class="ltxt">
                <li>De tipo: {{evento.tipoEvento}}</li>
                <li>Para {{evento.personas}} personas </li>
                <li> Por un costo de {{evento.costo}}, que deberás pagar cuando esté listo el equipo. </li>
            </ul><br>
            <p class="ltxt">Ahora vamos buscar el mejor equipo para cubrir tu evento. Nosotros te notificaremos cuando esté listo. Esto no debe tardar más de dos horas.
            </p><br>
            <p class="center resaltado">
                Por favor, activa las notificaciones para este sitio. Te prometemos que no mandamos SPAM.
            </p>
        </div>
    </div>

    <div class="row boton">
        <div class="col s12">
            <button [routerLink]="['/usuario/tus-eventos']" routerLinkActive="router-link-active" class="needbtn">IR A TUS EVENTOS</button>
        </div>
    </div>

</div>