.login {
    background: url(../../../../assets/img/Concierge.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.login h3 {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    text-transform: uppercase;
}

.login::-webkit-scrollbar {
    display: none;
}

.loginCont {
    height: 25vh;
}

.teamCont {
    height: 30vh;
}

.teamCont p {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
    font-weight: 800;
    color: gold;
}

.loginbtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 1em 2em;
    border-radius: 2em;
    border: none;
    margin: 1em 0;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    width: 200px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
}

.fbLogin {
    background: #3b5999;
}

.goLogin {
    background: #dd4b39;
}

.regist {
    background: #202020;
}

#cargando {
    position: absolute;
    top: 0;
}

@media screen and (min-width: 500px) {
    .loginCont {
        height: 40vh;
    }
    .teamCont {
        height: 30vh;
    }
}