<app-loading *ngIf="!negocio"></app-loading>
<div id="zoomdiv">
    <i class="fas fa-times ltxt close" (click)="closeZoom()"></i>
    <img src={{zoomed}} alt="">
</div>
<div class="container contenido" id="negocio">
    <a href="javascript:history.back()" class="back ltxt">
        <i class="fas fa-arrow-left"></i>
    </a>

    <div class="row" id="perfil">
        <div class="col s4">
            <div id="imgPerfil">
                <img src="{{negocio.imgPerfil}}" alt="">
            </div>
        </div>
        <div class="col s8">
            <h4>{{negocio.nombre}}</h4>
        </div>
        <div id="rating">
            <span *ngIf="!negocio.rating">Aun no hay calificacion</span>
            <span>{{negocio.rating}}</span>
            <span id="rate" *ngIf="negocio.idUsuario != Usuario.userId" (click)="rate()">
                <i id="star" class="far fa-star"></i>
            </span>
        </div>
        <div id="editar" (click)="editNegocio()" *ngIf="negocio.idUsuario == Usuario.userId">
            <i class="fas fa-edit "></i>
        </div>
    </div>

    <div class="container detalles">

        <div class="row" id="descrip">
            <div class="col s12">
                {{negocio.descripcion}}
            </div>
        </div>

        <div class="row" id="slider">

            <div class="col s6">
                <h5>
                    <i class="far fa-images    "></i>
                    <span class="yellow-text">Imágenes</span>
                </h5>
            </div>
            <div class="col s6">
                <div id="addImage" title="Agregar Imágenes" *ngIf="negocio.idUsuario == Usuario.userId">
                    <label for="images">
                        <i class="fas fa-images"></i>
                        <span id="textAdd" style="display: none">Agregar </span>
                    </label>
                    <input type="file" name="images" id="images" multiple (change)="agregarImagenes($event)">
                </div>
            </div>

            <div class="row" id="imgs">
                <div class="col s4 img" *ngFor="let img of negocio.images" (click)="zoom(img)">
                    <img src="{{img}}" alt="">
                </div>
            </div>
        </div>

        <div class="row" id="contacto">
            <div class="col s6">
                <h5>
                    <i class="fas fa-list-alt ltxt   "></i>
                    <span class="yellow-text"> Contacto</span>
                </h5>
                <ul>
                    <li> {{negocio.telefono}} </li>
                    <li> {{negocio.email}} </li>
                    <li> {{negocio.sitioweb}} </li>
                </ul>
            </div>

            <div class="col s6">
                <h5>
                    <i class="fas fa-map-marker ltxt"></i>
                    <span class="yellow-text"> Ubicación</span>
                </h5>
                <ul>
                    <li> {{negocio.direccion}} </li>
                    <li> {{negocio.colonia}} </li>
                    <li> {{negocio.ciudad}} </li>
                </ul>
            </div>
        </div>
        <div class="row" id="comentarios">
            <div class="col s12">
                <h5>
                    <i class="fas fa-comments    "></i>
                    <span class="yellow-text"> Comentarios</span>
                </h5>
                <div class="coment" *ngFor="let coment of negocio.comentarios">
                    <div class="col s1"><i class="fas fa-comment-alt"></i></div>
                    <div class="col s11">
                        {{coment}}
                    </div>
                </div>
                <div class="col s12" id="noComent" *ngIf="!negocio.comentarios">
                    Aun no hay comentarios
                </div>
            </div>
        </div>
    </div>

</div>