<div class="row" id="barraTitulo">
    <div class="col s1">
        <a href="javascript:history.back()" class="back ltxt">
            <i class="fas fa-arrow-left"></i>
        </a>
    </div>
    <div class="col s10">
        <p class="titleLabel ltxt center">
            CONÓCENOS
        </p>
    </div>
</div>

<div class="container contenido ltxt" id="conocenos">
    <div class="row">
        <div class="col s12">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, dignissimos ipsum? Voluptas, aliquam! Tempore suscipit sint architecto iste quisquam assumenda laboriosam dolor sit, ad voluptatibus explicabo id commodi! A, quos?
            </p>
            <h5>LIGAS IMPORTANTES</h5>
            <ul>
                <li class="links" [routerLink]="['/tyc']">Términos y condiciones</li>
                <li class="links" [routerLink]="['/pdp']">Política de privacidad</li>
            </ul>
            <hr><br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat repellendus, odio libero praesentium esse nihil ipsa qui voluptatem incidunt rerum consequuntur totam, veniam expedita aut harum! Magnam velit cumque dolores facere quam obcaecati ratione
                molestias quis delectus placeat repudiandae qui sunt aspernatur iste exercitationem, excepturi, ipsam tenetur debitis esse maiores eligendi odit sequi. Illo dolore delectus accusantium harum nesciunt illum inventore asperiores. Magnam
                obcaecati iure illum architecto autem, porro quos non voluptas excepturi, illo eos sunt reprehenderit impedit ea eum numquam nisi dignissimos perferendis doloribus explicabo quo. Dolor earum vero enim cupiditate provident quae laudantium
                ea, saepe optio tenetur illum aspernatur voluptas quos incidunt voluptatum! Maiores inventore, sunt voluptas eligendi commodi nemo culpa blanditiis iure aut, explicabo asperiores itaque consequatur quasi autem tenetur enim nam nostrum?
                Dolorum praesentium exercitationem cupiditate accusantium modi repudiandae illo explicabo rerum optio veritatis placeat, quos natus? Nam ex ullam in enim nulla ad necessitatibus dolorem consequuntur harum quo quibusdam voluptate labore
                explicabo minus, reprehenderit consectetur aperiam unde magnam. Deserunt qui dolorum quasi rerum itaque. Cupiditate laudantium aliquam nam aspernatur, eligendi officia esse minima consequatur ducimus minus culpa quaerat a officiis est
                sit veniam distinctio veritatis hic maxime vero voluptate! Dolore dignissimos iure eos omnis nisi!
            </p>
        </div>
    </div>
</div>