.categoria {
    height: 8em;
    margin: 0 0 1em;
    overflow: hidden;
}

.categoName {
    font-size: 1.5em;
    position: absolute;
    font-weight: 600;
    color: #fff;
    margin-left: 1em;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    line-height: 8;
}