<div class="container contenido">

    <div class="row">
        <a href="javascript:history.back()" class="back ltxt">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="col s12">
            <p class="titleLabel ltxt center">
                DAR DE ALTA NEGOCIO
            </p>
            <p class="ltxt center">
                Rellena los datos para darte de alta en nuestro direcctorio
            </p>
        </div>
    </div>

    <div class="row formulario">
        <form action="#" #altaNegocio="ngForm" onsubmit="return false" method="POST" id="negocio" (ngSubmit)="onSubmit()">
            <div class="col s6" style="
            top: 4em;
            position: relative;
        ">
                <div class="negImagen">
                    <img id="imagenNegocio" src="" alt="">
                </div>
            </div>
            <div class="col s6 file-field input-field">
                <!-- <span class="ltxt center">Subir imagen</span> -->
                <div class="btn fileneedbtn">
                    <label for="imagen" class="upImage"><i class="fas fa-file-upload"></i></label>
                    <input type="file" name="imagen" id="imagen" (change)=imagen($event)>
                </div>
            </div>


            <div class="col s12 input-field">
                <input type="text" name="nombre" id="nombre" [(ngModel)]="negocio.nombre" #nombre="ngModel" required>
                <label for="nombre">Nombre del negocio</label>
                <span class="formAlert" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                    Debes agregar un nombre
                </span>
            </div>

            <select name="categoria" id="categoria" [(ngModel)]="negocio.categoria" #categoria="ngModel">
                <option value="" disabled selected>Elige una categoria</option>
                <option value="{{catego.name}}" *ngFor="let catego of categorias">{{catego.name}}</option>
            </select>

            <div class="col s12 input-field">
                <input type="text" name="telefono" id="telefono" [(ngModel)]="negocio.telefono" #telefono="ngModel" required>
                <label for="telefono">Teléfono del negocio</label>
                <span class="formAlert" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                    Debes agregar un teléfono
                </span>
            </div>
            <div class="col s12 input-field">
                <input type="text" name="email" id="email" [(ngModel)]="negocio.email" #email="ngModel" required>
                <label for="email">Email del negocio</label>
                <span class="formAlert" *ngIf="email.invalid && (email.dirty || email.touched)">
                    Debes agregar un email
                </span>
            </div>
            <div class="col s12 input-field">
                <textarea name="descripcion" id="descripcion" class="materialize-textarea" [(ngModel)]="negocio.descripcion" #descripcion="ngModel" required></textarea>
                <label for="descripcion">Descripción</label>
                <span class="formAlert" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)">
                    Debes agregar un descripción
                </span>
            </div>
            <div class="col s12 input-field">
                <input type="text" name="sitioweb" id="sitioweb" [(ngModel)]="negocio.sitioweb" #sitioweb="ngModel" required>
                <label for="sitioweb">Sitioweb</label>
            </div>
            <div class="col s12 input-field">
                <input type="text" name="direccion" id="direccion" [(ngModel)]="negocio.direccion" #direccion="ngModel" required>
                <label for="direccion">Dirección</label>
            </div>
            <div class="col s12 input-field">
                <input type="text" name="colonia" id="colonia" [(ngModel)]="negocio.colonia" #colonia="ngModel" required>
                <label for="colonia">Colonia</label>
            </div>
            <div class="col s12 input-field">
                <input type="text" name="ciudad" id="ciudad" [(ngModel)]="negocio.ciudad" #ciudad="ngModel" required>
                <label for="ciudad">Ciudad</label>
            </div>
            <div class="col s12">
                <input type="submit" value="REGISTRAR" class="needbtn" [disabled]="!altaNegocio.form.valid">
            </div>
        </form>
    </div>
</div>