<div class="container contenido">

    <div class="row">
        <a href="javascript:history.back()" class="back ltxt">
            <i class="fas fa-arrow-left"></i>
        </a>
        <div class="col s12">
            <p class="titleLabel ltxt center">
                EDITAR NEGOCIO
            </p>
            <p class="ltxt center">
                Edita los datos de tu negocio
            </p>
        </div>
    </div>

    <app-form-negocio [negocioId]=negocioId></app-form-negocio>
</div>