<div class="container">
    <ul class="listadetalles ltxt">
        <li class="detalle">Inicia: {{datos.dateInicio}}</li>
        <li class="detalle">A las: {{datos.timeInicio}}</li>
        <li class="detalle">Termina: {{datos.dateFinal}}</li>
        <li class="detalle">A las: {{datos.timeFinal}}</li>
    </ul>
    <ul class="listadetalles ltxt">
        <li class="detalle">En: {{datos.lugar}}</li>
        <li class="detalle">
            <p>{{datos.direccion}}</p>
            <p>{{datos.colonia}}</p>
            <p>{{datos.ciudad}}</p>
            <p>{{datos.estado}}</p>
        </li>
    </ul>
</div>