<div class="container">
    <ul class="listadetalles ltxt">
        <li class="detalle row">
            <div class="col s3">{{servicio.meseros}}</div>
            <div class="col s9">MESEROS</div>
        </li>
        <li class="detalle row">
            <div class="col s3">{{servicio.jefeMeseros}}</div>
            <div class="col s9">JEFE DE MESEROS</div>
        </li>
        <li class="detalle row" *ngIf="extras.barman > 0">
            <div class="col s3">{{extras.barman}}</div>
            <div class="col s9">BARMAN's</div>
        </li>
        <li class="detalle row" *ngIf="extras.barra > 0">
            <div class="col s3">{{extras.barra}}</div>
            <div class="col s9">PERSONAL DE BARRA</div>
        </li>
        <li class="detalle row" *ngIf="extras.valet > 0">
            <div class="col s3">{{extras.valet}}</div>
            <div class="col s9">VALET PARKING</div>
        </li>
        <li class="detalle row" *ngIf="extras.hostess > 0">
            <div class="col s3">{{extras.hostess}}</div>
            <div class="col s9">HOSTESS</div>
        </li>
        <li class="detalle row" *ngIf="extras.seguridad > 0">
            <div class="col s3">{{extras.seguridad}}</div>
            <div class="col s9">ELEMENTO DE SEGURIDAD</div>
        </li>
    </ul>
</div>