.bienvenida {
    background: linear-gradient( rgba(0, 0, 0, 1), rgba(0, 0, 0, .5)), url('../../../../assets/img/bodas-1.jpg');
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 2%;
    width: 100%;
    height: 100vh;
    position: fixed
}

@media screen and (min-width: 500px) {
    .bienvenida {
        min-width: 100vw;
    }
}